  <div class="row">
    <div class="col-md-3">
      <div class="info-tile tile-orange">
        <div class="tile-icon"><i class="ti ti-write"></i></div>
        <div class="tile-heading"><span>{{dashboardData.stats.classes}}</span></div>
        <div class="tile-body"><span>{{phrase.classes}}</span></div>
        <div class="tile-footer"><span class="text-success">22.5% <i class="fa fa-level-up"></i></span></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info-tile tile-success">
        <div class="tile-icon"><i class="ti ti-id-badge"></i></div>
        <div class="tile-heading"><span>{{dashboardData.stats.students}}</span></div>
        <div class="tile-body"><span>{{phrase.students}}</span></div>
        <div class="tile-footer"><span class="text-danger">12.7% <i class="fa fa-level-down"></i></span></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info-tile tile-info">
        <div class="tile-icon"><i class="ti ti-user"></i></div>
        <div class="tile-heading"><span>{{dashboardData.stats.teachers}}</span></div>
        <div class="tile-body"><span>{{phrase.teachers}}</span></div>
        <div class="tile-footer"><span class="text-success">5.2% <i class="fa fa-level-up"></i></span></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info-tile tile-danger">
        <div class="tile-icon"><i class="ti ti-comments"></i></div>
        <div class="tile-heading"><span>{{dashboardData.stats.newMessages}}</span></div>
        <div class="tile-body"><span>{{phrase.Messages}}</span></div>
        <div class="tile-footer"><span class="text-danger">10.5% <i class="fa fa-level-down"></i></span></div>
      </div>
    </div>
  </div>

  <div data-widget-group="group1">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2>{{phrase.studentLeaderboard}}</h2>
            <div class="panel-ctrls button-icon-bg">
            </div>
          </div>
          <div class="panel-editbox" data-widget-controls=""></div>
          <div class="panel-body">
            <ul class="users-list clearfix">
              <li ng-repeat="student in dashboardData.studentLeaderBoard">
                <img alt="{{student.fullName}}" class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{'dashboard/profileImage/'+student.id}}">
                <a class="users-list-name">{{student.fullName}}</a>
                <span class="users-list-date">{{student.isLeaderBoard}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-bluegray">
          <div class="panel-heading">
            <h2>{{phrase.teacherLeaderboard}}</h2>
            <div class="panel-ctrls button-icon-bg">
            </div>
          </div>
          <div class="panel-body">
           <ul class="users-list clearfix">
            <li ng-repeat="student in dashboardData.teacherLeaderBoard">
              <img alt="{{student.fullName}}" class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{'dashboard/profileImage/'+student.id}}">
              <a class="users-list-name">{{student.fullName}}</a>
              <span class="users-list-date">{{student.isLeaderBoard}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-gray" data-widget='{"draggable": "false"}'>
        <div class="panel-heading">
          <h2>Recent Activities</h2>
          <div class="panel-ctrls button-icon-bg" 
          data-actions-container="" 
          data-action-collapse='{"target": ".panel-body"}'
          data-action-colorpicker=''
          data-action-refresh-demo='{"type": "circular"}'
          >
        </div>
      </div>
        <!-- <div class="panel-body">
          <ul class="mini-timeline">
            <li class="mini-timeline-lime">
              <div class="timeline-icon"></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name">Vincent Keller</a> added new task <a href="#/">Admin Dashboard UI</a>
                  <span class="time">4 mins ago</span>
                </div>
              </div>
            </li>

            <li class="mini-timeline-deeporange">
              <div class="timeline-icon"></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name">Shawna Owen</a> added <a href="#/" class="name">Alonzo Keller</a> and <a href="#/" class="name">Mario Bailey</a> to project <a href="#/">Wordpress eCommerce Template</a>
                  <span class="time">6 mins ago</span>
                </div>
              </div>
            </li>

            <li class="mini-timeline-info">
              <div class="timeline-icon"></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name">Christian Delgado</a> commented on thread <a href="#/">Frontend Template PSD</a>
                  <span class="time">12 mins ago</span>
                </div>
              </div>
            </li>

            <li class="mini-timeline-indigo">
              <div class="timeline-icon"></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name">Jonathan Smith</a> added <a href="#/" class="name">Frend Pratt</a> and <a href="#/" class="name">Robin Horton</a> to project <a href="#/">Material Design Admin Template</a>
                  <span class="time">6 hours ago</span>
                </div>
              </div>
            </li>
            <li class="mini-timeline-default">
              <div class="timeline-body ml-n">
                <div class="timeline-content">
                  <button type="button" data-loading-text="Loading..." class="loading-example-btn btn btn-sm btn-default">See more</button>
                </div>
              </div>
            </li>
          </ul>
        </div> -->
        <div class="panel-body scroll-pane" style="height: 320px;">
          <div class="scroll-content">
            <ul class="mini-timeline">
              <li class="mini-timeline-lime" ng-repeat="alert in dashboardData.alerts">
                <div class="timeline-icon"></div>
                <div class="timeline-body">
                  <div class="timeline-content">
                    <a href="#/" class="name">{{alert.notifData}}</a>
                    <span class="time">{{alert.notifDate}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-white" data-widget='{"draggable": "false"}'>
        <div class="panel-heading">
          <h2>New Students</h2>
          <div class="panel-ctrls button-icon-bg" 
          data-actions-container="" 
          data-action-refresh-demo='{"type": "circular"}'
          >
        </div>
      </div>
      <div class="panel-body">
        <ul class="widget-avatar">
            <li ng-repeat="student in dashboardData.latestStudent">
              <img alt="{{student.fullName}}" class="user-image img-circle" ng-src="{{'dashboard/profileImage/'+student.id}}">
            </li>
        </ul>
        <a href="#/students" class="btn btn-block btn-primary">View More</a>
      </div>
    </div>

    <div class="panel panel-warning">
          <div class="panel-heading">
              <h2 class="panel-title"><i class="fa fa-clock-o"></i>{{phrase.NewsEvents}}</h2>
          </div>
          <div class="panel-body">
              <ul class="todo-list">
                  <li ng-repeat="item in dashboardData.newsEvents">
                      <small class="label label-danger">{{item.type}}</small>
                      <span ng-if="item.type == 'news'" class="text"><a href="#newsboard/{{item.id}}">{{item.title}}</a></span>
                      <span ng-if="item.type == 'event'" class="text"><a href="#events/{{item.id}}">{{item.title}}</a></span>
                  </li>
              </ul>
          </div>
      </div>
</div>
<div class="col-md-3">

  <div class="panel panel-midnightblue widget-progress" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
      <h2>Progress</h2>
      <div class="panel-ctrls button-icon-bg" 
      data-actions-container="" 
      data-action-refresh-demo='{"type": "circular"}'
      >
    </div>
  </div>
  <div class="panel-body">
    <div class="easypiechart mb-md" id="progress" data-percent="37">
      <span class="percent-non"></span>
    </div>
  </div>
  <div class="panel-footer">
    <div class="tabular">
      <div class="tabular-row">
        <div class="tabular-cell">
          <span class="status-total">Total</span>
          <span class="status-value">100</span>
        </div>
        <div class="tabular-cell">
          <span class="status-pending">Pending</span>
          <span class="status-value">63</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="widget-weather">
  <div class="pull-left">
    <span class="weather-location">Toronto, CA</span>
    <span class="weather-desc">Sunny</span>
  </div>
  <div class="pull-right">
    <span class="weather-temp">16<span>ºC</span></span>
  </div>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-realtime" data-widget='{"draggable": "false"}'>
      <div class="panel-heading">
        <h2>{{dashboardData.polls.title}}</h2>
      </div>
      <div ng-show="dashboardData.polls" class="box box-info rtlPage">
      <div class="panel-body">
            <div class="form-group" ng-show="dashboardData.polls.view == 'vote'">
                <div ng-repeat="value in dashboardData.polls.items" class="radio">
                    <label>
                        <input type="radio" ng-model="dashboardData.polls.selected" value="{{value.title}}">{{value.title}}
                    </label>
                </div>
            </div>
            <div class="form-group" ng-show="dashboardData.polls.view == 'results'">
              <div ng-repeat="value in dashboardData.polls.items" class="radio">
                  {{value.title}}
                  <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{value.perc}}%"></div>
                  </div>
              </div>
              <div class="text-center">{{phrase.totalVotes}} : {{dashboardData.polls.totalCount}}</div>
            </div>
          </div>
          <div ng-if="!dashboardData.polls.voted" class="box-footer clearfix">
              <button ng-click="dashboardData.polls.view = 'vote'" ng-show="dashboardData.polls.view == 'results'" type="button" class="pull-right btn btn-flat btn-info">{{phrase.Return}}</button>
              <button ng-click="dashboardData.polls.view = 'results'" ng-show="dashboardData.polls.view == 'vote'" type="button" class="pull-right btn btn-flat btn-info">{{phrase.votes}}</button>
              <button ng-show="dashboardData.polls.view == 'vote'" ng-click="savePollVote()" ng-disabled="!dashboardData.polls.selected" class="pull-right btn btn-flat btn-info">{{phrase.votePoll}}</button>
          </div>
      </div>
      </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-gray">
          <div class="panel-heading">
              <h2 class="panel-title">{{phrase.quicklinks}}</h2>
          </div>
          <div class="panel-body" ng-show="dashboardData.role == 'admin'">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-6"><a href="#newsboard" class="btn btn-block btn-success"> {{phrase.newsboard}} </a></div>
              <div class="col-md-6"><a href="#events" class="btn btn-block btn-success"> {{phrase.events}} </a></div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-6"><a href="#classschedule" class="btn btn-block btn-success"> {{phrase.ClassSchedule}} </a></div>
              <div class="col-md-6"><a href="#mailsms" class="btn btn-block btn-success"> {{phrase.mailsms}}</a></div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-6"><a href="#staffAttendance" class="btn btn-block btn-success"> {{phrase.staffAttendance}} </a></div>
              <div class="col-md-6"><a href="#attendance" class="btn btn-block btn-success"> {{phrase.Attendance}}</a></div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-6"><a href="#reports" class="btn btn-block btn-success"> {{phrase.Reports}} </a></div>
              <div class="col-md-6"><a href="#settings" class="btn btn-block btn-success"> {{phrase.generalSettings}}</a></div>
            </div>
          </div>

          <div class="box-body" ng-show="dashboardData.role == 'teacher'">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-6"><a href="#attendance" class="btn btn-block btn-success"> {{phrase.Attendance}} </a></div>
              <div class="col-md-6"><a href="#examsList" class="btn btn-block btn-success"> {{phrase.examsList}} </a></div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-6"><a href="#assignments" class="btn btn-block btn-success"> {{phrase.Assignments}} </a></div>
              <div class="col-md-6"><a href="#onlineExams" class="btn btn-block btn-success"> {{phrase.Onlineexams}} </a></div>
            </div>
          </div>

          <div class="box-body" ng-show="dashboardData.role == 'student'">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-6"><a href="#classschedule" class="btn btn-block btn-success"> {{phrase.ClassSchedule}} </a></div>
              <div class="col-md-6"><a href="#examsList" class="btn btn-block btn-success"> {{phrase.examsList}} </a></div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-4"><a href="#assignments" class="btn btn-block btn-success"> {{phrase.Assignments}} </a></div>
              <div class="col-md-4"><a href="#onlineExams" class="btn btn-block btn-success"> {{phrase.Onlineexams}} </a></div>
              <div class="col-md-4"><a href="#attendanceStats" class="btn btn-block btn-success"> {{phrase.Attendance}} </a></div>
            </div>
          </div>

          <div class="box-body" ng-show="dashboardData.role == 'parent'">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-4"><a href="#students" class="btn btn-block btn-success"> {{phrase.students}} </a></div>
              <div class="col-md-4"><a href="#examsList" class="btn btn-block btn-success"> {{phrase.examsList}} </a></div>
              <div class="col-md-4"><a href="#attendanceStats" class="btn btn-block btn-success"> {{phrase.Attendance}} </a></div>
            </div>
          </div>
      </div>
</div>
  <div class="col-md-8">
   <div class="panel panel-warning" ng-show="dashboardData.role == 'parent'">
          <div class="panel-header">
              <i class="fa fa-clock-o"></i>
              <h3 class="panel-title">{{phrase.Attendance}}</h3>
          </div>
          <div class="panel-body">
              <div ng-repeat="(key, value) in dashboardData.studentAttendance" class="panel col-xs-12">
                <div class="panel-header">
                  <h3 class="panel-title">{{value.n.name}}</h3>
                </div>
                <div class="panel-body table-responsive">
                  <table class="table table-bordered">
                      <tbody><tr>
                          <th>{{phrase.Date}}</th>
                          <th>{{phrase.Attendance}}</th>
                      </tr>
                      <tr ng-repeat="(key2,value2) in value.d">
                          <td>{{value2.date * 1000 | date:$root.angDateFormat}}</td>
                          <td>
                            <div>
                              <span ng-show="value2.status =='0'">{{phrase.Absent}}</span>
                              <span ng-show="value2.status =='1'">{{phrase.Present}}</span>
                              <span ng-show="value2.status =='2'">{{phrase.Late}}</span>
                              <span ng-show="value2.status =='3'">{{phrase.LateExecuse}}</span>
                              <span ng-show="value2.status =='4'">{{phrase.earlyDismissal}}</span>
                              <span ng-show="value2.status =='9'">{{phrase.acceptedVacation}}</span>
                            </div>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-white" data-widget='{"draggable": "false"}' ng-show="dashboardData.role == 'student'">
      <div class="panel-heading">
              <i class="fa fa-clock-o"></i>
              <h2 class="box-title">{{phrase.Attendance}}</h3>
          </div>
          <div class="panel-body">
              <table class="table table-bordered">
                  <tbody><tr>
                      <th>{{phrase.Date}}</th>
                      <th ng-show="dashboardData.attendanceModel=='subject'">{{phrase.Subject}}</th>
                      <th>{{phrase.Attendance}}</th>
                  </tr>
                  <tr ng-repeat="(key,value) in dashboardData.studentAttendance">
                      <td>{{value.date * 1000 | date:$root.angDateFormat}}</td>
                      <td ng-show="dashboardData.attendanceModel=='subject'">{{value.subject}}</td>
                      <td>
                        <div>
                          <span ng-show="value.status =='0'">{{phrase.Absent}}</span>
                          <span ng-show="value.status =='1'">{{phrase.Present}}</span>
                          <span ng-show="value.status =='2'">{{phrase.Late}}</span>
                          <span ng-show="value.status =='3'">{{phrase.LateExecuse}}</span>
                          <span ng-show="value.status =='4'">{{phrase.earlyDismissal}}</span>
                          <span ng-show="value.status =='9'">{{phrase.acceptedVacation}}</span>
                        </div>
                      </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
</div>
</div>
</div>